* {
  box-sizing: border-box;
}

header {
  background-color: maroon;
  color: bisque;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
  background-color: maroon;
  color: bisque;
}
